{% extends "base.html" %}

{% block content %}

<div class="topo">

    <h1>Cadastrar Novo Jogo</h1>

    <a href="{{ url_for('index') }}" class="btn">

        ← Voltar

    </a>

</div>

<div class="painel">

    <form method="POST" enctype="multipart/form-data" class="cadastro-form">

        <label for="nome">Nome do jogo</label>
        <input
            type="text"
            id="nome"
            name="nome"
            placeholder="Nome do jogo"
            value="{{dados.get('nome', '') }}"
            required
        >

        <label for="descricao">Descrição do jogo</label>
        <textarea
            id="descricao"
            name="descricao"
            placeholder="Descrição do jogo"
            required
        >{{ dados.get('descricao', '') }}</textarea>

        <label for="genero_id">Gênero</label>
        <select id="genero_id" name="genero_id" required>

            <option value="">
                Selecione um gênero
            </option>

            {% for genero in generos %}

                <option value="{{ genero.id }}" 
                {% if dados.get('genero_id')|int == genero.id %}selected{% endif %}>

                    {{ genero.nome }}

                </option>

            {% endfor %}

        </select>

        <label for="categoria_id">Categoria</label>
        <select id="categoria_id" name="categoria_id" required>

            <option value="">
                Selecione uma categoria
            </option>

            {% for categoria in categorias %}

                <option value="{{ categoria.id }}" 
                {% if dados.get('categoria_id')|int == categoria.id %}selected{% endif %}>

                    {{ categoria.nome }}

                </option>

            {% endfor %}

        </select>

        <label for="classificacao">Classificação</label>
        <select id="classificacao" name="classificacao" required>

            <option value="">
                Selecione a classificação
            </option>

            {% for classificacao in classificacoes %}

                <option value="{{ classificacao }}" 
                {% if dados.get('classificacao') == classificacao %}selected{% endif %}>

                    {{ classificacao }}

                </option>

            {% endfor %}

        </select>

        <label for="ano">Ano de lançamento</label>
        <input
            type="text"
            id="ano"
            name="ano"
            placeholder="Ano de lançamento"
            value="{{dados.get('ano', '') }}"
            inputmode="numeric"
            maxlength="4"
            pattern="[0-9]{4}"
            oninput="this.value = this.value.replace(/\D/g, '')"
            required
        >

        <!-- CAPA -->

        <!--
        <label class="label-capa">

            Imagem de capa

            <input
                type="file"
                name="capa"
                accept="image/*">

        </label>
        -->

        <label for="capa_url">

            Informe a URL da imagem (Opcional)

        </label>

        <input
            type="url"
            id="capa_url"
            name="capa_url"
            placeholder="https://site.com/imagem.jpg"
            value="{{ dados.get('capa_url', '') }}"
        >

        <button type="submit">

            Cadastrar Jogo

        </button>

    </form>

</div>

{% endblock %}