{% extends "base.html" %}

{% block content %}
<div class="topo">
    <h1>Editar Jogo</h1>
    <a href="{{ url_for('jogo', id=jogo.id) }}" class="btn">← Voltar</a>
</div>

<div class="painel">
    <form method="POST" enctype="multipart/form-data" class="cadastro-form">
        <input type="hidden" name="_method" value="PUT">

        <input type="text" name="nome" placeholder="Nome do jogo" value="{{ jogo.nome }}" required>

        <input type="text" name="descricao" placeholder="Descrição do jogo" value="{{ jogo.descricao }}" required>

        <select name="genero_id" required>
            <option value="">Selecione um gênero</option>
            {% for genero in generos %}
            <option value="{{ genero.id }}" {% if jogo.genero_id == genero.id %}selected{% endif %}>{{ genero.nome }}</option>
            {% endfor %}
        </select>

        <select name="categoria_id" required>
            <option value="">Selecione uma categoria</option>
            {% for categoria in categorias %}
            <option value="{{ categoria.id }}" {% if jogo.categoria_id == categoria.id %}selected{% endif %}>{{ categoria.nome }}</option>
            {% endfor %}
        </select>

        <select name="classificacao" required>
            <option value="">Selecione a classificação</option>
            {% for classificacao in classificacoes %}
            <option value="{{ classificacao }}" {% if jogo.classificacao == classificacao %}selected{% endif %}>{{ classificacao }}</option>
            {% endfor %}
        </select>

        <input
        type="number"
        name="ano"
        placeholder="Ano de lançamento"
        value="{{ jogo.ano }}"
        min="1970"
        max="{{ ano_atual }}"
        step="1"
        oninput="if(this.value.length > 4) this.value = this.value.slice(0,4)"
        required>
        
        {% if jogo.capa %}

            {% if jogo.capa.startswith('http') %}

                <img src="{{ jogo.capa }}"
                    class="capa-preview">

        {% else %}

            <img src="{{ url_for('static', filename=jogo.capa) }}"
                class="capa-preview">

        {% endif %}

{% endif %}

        <!--<label class="label-capa">
            🖼️ Nova Imagem de Capa
            <input type="file" name="capa" accept="image/*">
        </label>-->
        <label for="capa_url">Informe a URL da nova imagem (opcional — substitui a atual)
        </label>
        <input
            type="url"
            id="capa_url"
            name="capa_url"
            placeholder="https://site.com/imagem.jpg">

        <button type="submit">Salvar Alterações</button>
    </form>
</div>
{% endblock %}
